.page-nav {
  display: block;
  width: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.page-nav a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.page-nav .next {
  text-align: right;
}

@media (min-width: 768px) {
  .post {
    text-align: justify;
  }

  .post .post-title,
  .post .post-date {
    text-align: left;
  }
}

ul ul {
  margin-bottom: 0;
}

ul ul ul {
  margin-bottom: 0;
}

details {
  margin-top: 1rem;
}

details[open] summary {
  margin-bottom: 1rem;
}

summary:focus {
  outline: none;
}
